// These are for custom styles and overrides

// This applies to custom page styles
.theme-container.frontend-class
  h1
    color: red;

.theme-container.webIntegration-class
  img
    margin auto;
    display block;
.custom-block.tip
  border-color #e7c000
  background-color: rgba(255,229,100,0.3);

pre
  color #e7c000

.header-anchor {
  font-size: 0 !important;
  background-image: url('/images/PayFast Coins.svg');
  width: 27px;
  background-repeat: no-repeat;
  height: 27px;
  margin-right: 5px;
  position: absolute;
  transform: translateX(-30px);
}


.navbar .site-name , #main-title, .description {
    display none
  }

.theme-container.Home-page main
  max-width 100%
  display flex
  justify-content center
